@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root{
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233, 287 2);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}
html {
    box-sizing: border-box;
    font-size: 62.6%;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

  /* GLOBALES */
body{
    background-color: var(--primario);
    font-size: 16px;
    line-height: 1.5;
    margin: 0px;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}


.header {
    display: flex;
    justify-content: center;
}

/**
* Inicio Codigo Virbes
*/
.header a img {
    margin-top: 28px;
    margin-bottom: 17px;
}

.nav {
    background-color: var(--primarioOscuro);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
}

.nav__home {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 30px;
}

.nav__nosotros {
    font-family: var(--fuentePrincipal);
    color: var(--secundario);
    font-size: 30px
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.productos {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: space-between;
}

.productos__producto {
    background-color: var(--primarioOscuro);
    padding: 10px;
    flex-basis: 31%;
}

.productos__producto_grafico {
    background-color: var(--primarioOscuro);
    flex-basis: 65.5%;
}

.productos__producto--nombre,
.productos__producto--precio {
    text-align: center;
    margin: 2px 0;
    font-family: var(--fuentePrincipal);
}

.productos__producto--nombre {
    color: var(--blanco);
    font-size: 40px;
}

.productos__producto--precio {
    color: var(--secundario);
    font-size: 35px;
}

.footer {
    height: 97px;
    margin-top: 20px;
    background-color: var(--primarioOscuro);
    text-align: center;
    line-height: 97px;
    text-transform: uppercase;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 22px;
}

/**
* FIN Codigo Virbes
*/